@model IEnumerable<RecipeHomeModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center image-container">
    <img src="~/img/background_index.png" alt="background" style="width: 100%; filter: brightness(30%);" />
    <div class="overlay-text w-75">
        <h1 class="display-4" style="font-size: 3rem; font-weight:bold">Добре дощли в CatCook!</h1>
        <p style="font-size: 2rem;">Това е един от най-забавните сайтове за готвене, който предлага:</p>
        <ul>
            <li style="font-size: 1.5rem; margin-bottom: 10px;"><i class="fa-solid fa-check text-primary"></i> Качване на рецепти и споделяне с приятели!</li>
            <li style="font-size: 1.5rem; margin-bottom: 10px;"><i class="fa-solid fa-check text-primary"></i> Питане на въпроси и отговори от хора по цял свят!</li>
            <li style="font-size: 1.5rem; margin-bottom: 10px;"><i class="fa-solid fa-check text-primary"></i> Супер много съвети от различни готвачи!</li>
            <li style="font-size: 1.5rem; margin-bottom: 10px;"><i class="fa-solid fa-check text-primary"></i> Чат с други хора!</li>
        </ul>
    </div>
</div>
<hr />
<h2 style="font-size: 3rem; font-weight:bold; margin: 2rem 0rem;">Най-новите рецепти:</h2>
<div class="card-deck row justify-content-between">
    @foreach (var recipe in Model)
    {
        <div class="card col-2" style="min-width: 18rem;">
            <div class="position-relative">
                <p class="rounded p-2 m-2 fs-6 position-absolute" style="background-color: darkorange; text-align: center; color: white; font-weight: bold; max-width: 140px">@recipe.CategoryName</p>
                @if (recipe.Images.Any())
                {
                    <div class="card-img-top">
                        <img class="card-img-top" style="width: 260px; height: 250px;"src="@recipe.Images.First().ImageUrl" alt="First slide">
                    </div>
                }
                else
                {
                    <div class="card-img-top">
                        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" alt="First slide">
                    </div>
                }
            </div>
            <div class="card-body">
                <h5 class="card-title">@recipe.Name</h5>
                <p class="card-text">Трудност: @recipe.DifficultyName<br />Публикувано на: @recipe.DateAdded<br />От @@@recipe.UserName</p>
                <p class="card-text"><i class="fa-solid fa-star text-warning"></i> <b>@recipe.Rating</b></p>
                <a href="#" class="btn btn-primary">Сготви</a>
            </div>
        </div>
    }
</div>