@model RecipeModel

<div class="row">
    <h1 class="text-center" style="margin-top: 10rem;">@ViewBag.Title</h1>

    <hr />
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="hidden" asp-for="@Model.UserId" />
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="IsPrivate">Частна ли е рецептата?</label>
                <input type="checkbox" asp-for="IsPrivate" value="true" />
            </div>
            <div class="form-group">
                <label asp-for="Name">Име на рецепта</label>
                <input asp-for="Name" class="form-control" placeholder="Име на рецепта...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Как да се сготви</label>
                <textarea rows="12" asp-for="Description" class="form-control" placeholder="Описание..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeForPreparation">Време за приготвяне</label>
                <input asp-for="TimeForPreparation" class="form-control" placeholder="В минути...">
                <span asp-validation-for="TimeForPreparation" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeForCooking">Време за готвене</label>
                <input asp-for="TimeForCooking" class="form-control" placeholder="В минути...">
                <span asp-validation-for="TimeForCooking" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortionsCount">Брой порции</label>
                <input asp-for="PortionsCount" class="form-control" placeholder="">
                <span asp-validation-for="PortionsCount" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating">Рейтинг</label>
                <input asp-for="Rating" class="form-control" placeholder="">
                <span asp-validation-for="Rating" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Снимка на рецептата</label>
                <textarea rows="2" asp-for="ImageUrl" class="form-control" placeholder="Твоя линк тук..."></textarea>
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Категория</label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.RecipeCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DifficultyId">Трудност</label>
                <select asp-for="DifficultyId" class="form-control">
                    @foreach (var difficulty in Model.RecipeDifficulties)
                    {
                        <option value="@difficulty.Id">@difficulty.Name</option>
                    }
                </select>
                <span asp-validation-for="DifficultyId" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Запази" />
            </div>
        </form>
    </div>
</div>