@model RecipeDetailsModel

<div id="read__only"></div>
<div class="row">
    <div class="row" style="margin-top: 10rem; gap: 12px;">
        <div class="col-lg-2 col-md-4 text-center" style="border: #DE4D01 1px solid; min-height: 75vh;">
            @if (Model.AvatarImgUrl != null)
            {
                <img class="w-50 p-2 mt-5" style="object-fit: cover"  src="@Model.AvatarImgUrl" alt="Profile Photo" />
            }
            else
            {
                <img class="w-50 p-2 mt-5" style="object-fit: cover"  src="~/img/no-profile-picture-icon.png" alt="Profile Photo" />
            }
            <a asp-controller="Account" asp-action="AllRecipes" asp-route-id="@Model.UserId" class="text-primary"><h4 style="color: #DE4D01"><b>@@@Model.ProfileName</b></h4></a>

            <p><i class="fa-solid fa-clock"></i> @Model.DateAdded</p>
            <p><i class="fa-solid fa-bolt text-warning"></i> Точки: @Model.UserPoints</p>

            @if (Model.UserId == ViewBag.UserId || User.IsInRole("Administrator"))
            {
                <div style="margin-top: 1rem; display: flex; flex-direction: column; gap: 10px;">
                    <a asp-area="" asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning w-75" style="margin: 0 auto;">Редактирай</a>
                    <br />
                    <a asp-area="" asp-controller="Recipe" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger w-75" style="margin: 0 auto;">Изтрий</a>
                </div>
            }

        </div>
        <div class="col-lg-9 col-md-8 row" style="border: #DE4D01 1px solid; padding: 16px;">
            @if (Model.ImageUrl == string.Empty)
            {
                <img class="col-4" src="~/img/No_Image_Available.jpg" alt="" style="width: 30%; height: 30%; object-fit: cover; border: #DE4D01 1px solid;" />
            }
            else{
                <img class="col-4" src="@Model.ImageUrl" alt="" style="width: 30%; height: 30%; object-fit: cover; border: #DE4D01 1px solid;" />
            }
            <div class="container col-8 " style="border: #161616 1px solid; height: 30%; text-align: center; ">
                <h2 style="margin-top: 30px;"><b>@Model.Name</b></h2>
                <div class="row w-75" style="margin: 0 auto; margin-top: 24px;">
                    <p class="col-4"><i class="fa-solid fa-bowl-rice" style="font-size: 28px;"></i><br />Порции: <br /><b>@Model.PortionsCount</b></p>
                    <p class="col-4"><i class="fa-regular fa-clock" style="font-size: 28px;"></i><br />Готвене: <br /><b>@Model.TimeForCooking мин.</b></p>
                    <p class="col-4"><i class="fa-regular fa-clock" style="font-size: 28px;" ></i><br />Приготвяне: <br /><b>@Model.TimeForPreparation мин.</b></p>
                </div>
            </div>
            <textarea  style="width:100%" id="editor" disabled="disabled">@Html.Raw(Model.Description)</textarea>
        </div>
    </div>
</div>
