@model TipDetailsModel

<div id="read__only"></div>
<div class="row">
    <div class="row" style="margin-top: 10rem; gap: 12px;">
        <div class="col-lg-2 col-md-4 text-center" style="border: #DE4D01 1px solid; min-height: 75vh;">
            @if (Model.AvatarImgUrl != null && Model.AvatarImgUrl != string.Empty)
            {
                <img class="w-50 p-2 mt-5" style="object-fit: cover" src="@Model.AvatarImgUrl" alt="Profile Photo" />
            }
            else {
                <img class="w-50 p-2 mt-5" style="object-fit: cover"  src="~/img/no-profile-picture-icon.png" alt="Profile Photo" />
            }
            <a asp-controller="Account" asp-action="AllRecipes" asp-route-id="@Model.UserId" class="text-primary"><h4 style="color: #DE4D01"><b>@@@Model.ProfileName</b></h4></a>

            <p><i class="fa-solid fa-clock"></i> @Model.DateAdded</p>
            <p><i class="fa-solid fa-bolt text-warning"></i> Точки: @Model.UserPoints</p>

            @if (Model.UserId == ViewBag.UserId || User.IsInRole("Administrator"))
            {
                <div style="margin-top: 1rem; display: flex; flex-direction: column; gap: 10px;">
                    <a asp-area="" asp-controller="Tip" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning w-75" style="margin: 0 auto;">Редактирай</a>
                    <br />
                    <a asp-area="" asp-controller="Tip" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger w-75" style="margin: 0 auto;">Изтрий</a>
                </div>
            }
        </div>
        <div class="col-lg-9 col-md-8" style="border: #DE4D01 1px solid; padding: 10px;">
            <h1 style="margin-bottom: 12px; padding: 8px;"><b>@Model.Title</b></h1>
            <textarea id="editor" disabled="disabled">@Html.Raw(Model.Description)</textarea>
        </div>
    </div>
</div>
